body {
  margin:0;
  font-family:'Poppins',sans-serif;
  color:#333;
  transition:.4s;
  background:
    linear-gradient(rgba(250,248,243,.85),rgba(250,248,243,.85)),
    url("./assets/foto2.jpg") center/cover fixed no-repeat;
}

.dark {
  color:#eee;
  background:
    linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),
    url("./assets/foto2.jpg") center/cover fixed no-repeat;
}
